doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
    main
      
      
      
      section.pt-5
        .container.py-5
          .row.pt-5
            .col-6.px-5
              img(src="media/about-scene-1.svg")
            .col-6.pl-5
              h2.mt-5 About our Hotel and Design
              p Hotel Lumberjack has been developed by Balbek Bureau an internationally acclaimed group of forward-thinking designers. Your guest room has been inspired by the Lumberjack culture, with rustic wood accents, combined with modern technology, such as a 50” television that connects directly with your favorite media subscriptions (Netflix, HBO, etc.) or even with your video gaming console. Power strips are conveniently located at your bedside nightstand. You’ll enjoy a good night’s rest on our Sealy Posturepedic mattresses with superior quality bedding. Room keys are RFID for easy access and the interior of your room has a deadbolt lock as well as a safe for belongings.
              
              
      
      
      
      section
        .container.pb-5
          .row.pt-5
            .col-12
              hr
              h2.pb-2  see how it looks
              .home-rooms-slider
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.bold Hotel lumberjack exterior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a2.jpg")
                    p.bold double queen room interior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.bold double queen room
                    
                    
                    
      
      section.features
        .container.mb-5.pt-5
          .row.pt-5.pb-4
            .col-12.col-md-6.pr-5
              h2  See more about our amenities
            .col-12.col-md-6
              p Our bathrooms feature custom contemporary sinks, large walk-in showers and Kohler fixtures throughout. And if you need space to work, you’ll enjoy our large desk with comfortable seating areas. All rooms include a microwave, coffeemaker and small fridge. And of course, we want you to start your morning right! You’ll enjoy an extensive and complimentary continental breakfast.
         
          .row.mb-5.mt-5
            .col-12
              .features-slider
                .box
                  hr
                  h2.h1 1.
                  h3 
                    | Custom, solid-surface furnishings

                  p.pr-3 That allow for thorough cleaning and sanitizing while providing a warm, comfortable environment

                .box
                  hr
                  h2.h1 2.
                  h3 
                    |Hand-painted murals
                  p.pr-3 and inspired by our Lumberjack’s own illustrations

                .box
                  hr
                  h2.h1 3.
                  h3 
                    |High-quality Sealy Posturepedic mattresses
                  p.pr-3 P. Kaufman deluxe bedding and linens combined with modern lighting from Trinity

                .box
                  hr
                  h2.h1 4.
                  h3 
                    |flat panel television
                  p.pr-3 Wall-mounted Samsung 50” flat panel television with HDMI connections for work or play

                .box
                  hr
                  h2.h1 5.
                  h3
                    | High Speed 
                    br
                    |Wifi
                  p.pr-3 The Sonora Inn features fantastic and accommodating

                .box
                  hr
                  h2.h1 6.
                  h3
                    |Custom
                    br
                    |Furniture
                  p.pr-3 Including microvawe, refrigirator and coffee maker

                .box
                  hr
                  h2.h1 7.
                  h3
                    |Wonders 
                    br
                    |nearby
                  p.pr-3 The Sonora Inn features fantastic and accommodating

                .box
                  hr
                  h2.h1 8.
                  h3 
                    |air 
                    br
                    |conditioning
                  p.pr-3 Including microvawe, refrigirator and coffee maker
      
      
      
      
      
      
      
      section.pt-5
        .container.mb-5
          .row
            .col-8
              img(src="media/about-scene-3.svg" style="width: 13%;")
            .col-4.text-center
              img(src="media/about-scene-4.svg" style="width: 28%; transform: translateY(15%);")
          .row.justify-content-center
            .col-10.px-5
              .row
                .col-12.col-md-5
                  h2 Our House policies
              
              hr
              .row.pt-2
                .col-6
                  h5.bold.text-uppercase Check-in
                  h2 4:00 PM
                  p.font-italic.pr-3 Early check-in is offered based on availability. Additional day charge, plus tax may apply for early check-in
                .col-6
                  h5.bold.text-uppercase Check-out
                  h2 11:00 aM
                  p.font-italic.pr-5 Additional day charge, plus tax may apply for late check-out


              hr
              .row
                .col-6
                  h3.text-uppercase
                    | Credit Card required at 
                    br
                    | booking and check-in
                .col-6
                  h3.text-uppercase Prepaid & Debit cards are not accepted
              hr
              .row.pt-2
                .col-6
                  h5.bold.text-uppercase Cancellation policies:
                  p.text-uppercase.pr-5.lite-bold 48-hour cancellation policy
                  
                  
                .col-6
                  h5.bold.text-uppercase Smoking in guest rooms:
                  p.text-uppercase.lite-bold incurs a $500 cleaning fee.
                  
                  
          .row.py-5.my-3
            .col-3.pt-5
              .pt-5
              .pt-5
              img.mt-5(src="media/about-scene-5.svg" style="width: 100%;")
            .col-6
              .bordered.p-4
                h5.bold.text-uppercase Damage:
                p Any damage to hotel property and amenities, whether accidental or willful, is the responsibility of the registered guest for each particular room. Any costs associated with repairs and/or replacement will be charged to the credit card of the registered guest. In extreme cases, criminal charges will be pursued.

            .col-3.text-right.pr-5.pt-5
              img(src="media/about-scene-6.svg" style="width: 90%;" class="mr-4")
      
      
      
      
       
        
        
      include footer
          
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")