doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contact
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      
      
      
      section.my-5.py-5
        .container.content-bordered.my-5.py-5
          .box-bg
          .border-first
          .border-second
          .row.pt-5.pb-4.justify-content-center
            .col-10
              h2.pr-5 Have a question? fill out the form and we will answer you shortly
              
              .contact-form
                .row
                  .col-12
                    .text-input
                      input(type="text" required)
                      label Name
                .row
                  .col-6
                    .text-input
                      input(type="email" required)
                      label Email
                  .col-6
                    .text-input
                      input(type="number" required)
                      label Phone number
                .row
                  .col-12
                    textarea(placeholder="Please tell us about your needs")
                    
                    input(type="submit" value="SUBMIT")
      
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")