footer
  .container
    .row
      .col-12.pt-5.pb-5
        hr
        h2.pb-3 follow me
        .inst-slider
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-1.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-2.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-3.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-4.jpg")

    .row.mt-2
      .col-9.menu-links
        a(href="rooms.html") Rooms •  
        a(href="about.html")  about hotel • 
        a(href="locations.html") explore sonora • 
        a(href="locations.html") events
      .col-3.text-right
        a(href="") book a room

    

    hr.mt-2

    .row.mb-3.mt-4.pt-1
      .col-2.pr-0
        a.logo-lumber(href="")
          img(src="media/lumberjack-logo-footer.svg")
      .col-3.adress
        p.m-0.lite-bold
          a.lite-bold(href="") 128 S Green St, Sonora, CA 95370
          br
          | +1 209-536-4694
          br
          a.lite-bold(href="") hello@lumberjack.com

      .col-5.px-5
        .px-5
          .pl-3
            p.m-0.lite-bold Sign up for updates:
            input(type="email" placeholder="your e-mail")
      .col-2.social.text-right.pl-0
        a(href="")
          img(src="media/ta.svg")
        a(href="")
          img(src="media/ig.svg")
        a(href="")
          img(src="media/tw.svg")
        a(href="")
          img(src="media/fb.svg")
    .row.pt-3
      .col-12.text-center
        p.small.m-0.text-uppercase(style="vertical-align: bottom;") Hotel-companion of
    .row.align-items-end.pb-4
      .col
        p.small.m-0.text-uppercase © 2021 hotel lumberjack. All Rights Reserved
      .col.text-center
        a.sonara-logo(href="")
          img(src="media/logo-sonora.svg")
      .col.text-right
        a.lite.small.pr-3.text-uppercase(href="privacy.html") Privacy policy
        a.lite.small.text-uppercase(href="") Accessibility
        
        
        
