doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Group
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      
      
      
      section.mt-5.mb-0.mb-sm-5.py-5
        .container
          .row
            .col-12
              h2.d-sm-none Fill out the from and we will answer you shortly
        .container.content-bordered.my-sm-5.py-sm-5
          .bord.box-bg.d-none.d-sm-block
          .bord.border-first.d-none.d-sm-block
          .bord.border-second.d-none.d-sm-block
          .row.pt-3.pt-sm-5.pb-4.justify-content-center
            .col-12.col-sm-10
              h2.pr-5.d-none.d-sm-block Fill out the from and we will answer you shortly
              
              .contact-form.pt-4.pt-sm-0
                .bord.box-bg.d-sm-none
                .bord.border-first.d-sm-none
                .bord.border-second.d-sm-none
                .row
                  .col-12
                    .text-input
                      input(type="text" required)
                      label Name
                      
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="email" required)
                      label Email
                  .col-12.col-sm-6
                    .text-input
                      input(type="number" required)
                      label Phone number
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label Start date of an event
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label How many guests
                
                .row
                  .col-12
                    textarea(placeholder="Please tell us about group or event needs")
                    
                    input.sumbit(type="submit" value="SUBMIT")
      
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")