doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Group
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      section.pt-5
        .container.py-4.py-sm-5
          .row.pt-sm-5
            .col-12.col-sm-6.px-sm-5
              img(src="media/about-scene-1.svg")
            .col-12.col-sm-6.pl-sm-5
              h2.mt-sm-5 About our Hotel and Design
              p Hotel Lumberjack has been developed by Balbek Bureau an internationally acclaimed group of forward-thinking designers. Your guest room has been inspired by the Lumberjack culture, with rustic wood accents, combined with modern technology, such as a 50” television that connects directly with your favorite media subscriptions (Netflix, HBO, etc.) or even with your video gaming console. Power strips are conveniently located at your bedside nightstand. You’ll enjoy a good night’s rest on our Sealy Posturepedic mattresses with superior quality bedding. Room keys are RFID for easy access and the interior of your room has a deadbolt lock as well as a safe for belongings.
              
              
      
      
      
      
      section
        .container.pb-5
          .row.pt-5
            .col-12
              hr
              h2.pb-2 EXPLORE THE SPACE
              .home-rooms-slider
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.bold Hotel lumberjack exterior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a2.jpg")
                    p.bold double queen room interior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.bold double queen room
                    
                    
                    
      
      section.features
        .container.pt-5
          .row.pt-4.pt-sm-5
            .col-12.col-md-6.pr-5
              h2.m-0 Our amenities
          .row.pb-3.pb-sm-0
            .col-12
              .features-slider
                .box
                  hr
                  h2.h1 1.
                  h3 
                    | Custom, solid-surface furnishings

                  p.pr-3 That allow for thorough cleaning and sanitizing while providing a warm, comfortable environment

                .box
                  hr
                  h2.h1 2.
                  h3 
                    |Hand-painted murals
                  p.pr-3 and inspired by our Lumberjack’s own illustrations

                .box
                  hr
                  h2.h1 3.
                  h3 
                    |High-quality Sealy Posturepedic mattresses
                  p.pr-3 P. Kaufman deluxe bedding and linens combined with modern lighting from Trinity

                .box
                  hr
                  h2.h1 4.
                  h3 
                    |flat panel television
                  p.pr-3 Wall-mounted Samsung 50” flat panel television with HDMI connections for work or play

                .box
                  hr
                  h2.h1 5.
                  h3
                    | High Speed 
                    br
                    |Wifi
                  p.pr-3 The Sonora Inn features fantastic and accommodating

                .box
                  hr
                  h2.h1 6.
                  h3
                    |Custom
                    br
                    |Furniture
                  p.pr-3 Including microvawe, refrigirator and coffee maker

                .box
                  hr
                  h2.h1 7.
                  h3
                    |Wonders 
                    br
                    |nearby
                  p.pr-3 The Sonora Inn features fantastic and accommodating

                .box
                  hr
                  h2.h1 8.
                  h3 
                    |air 
                    br
                    |conditioning
                  p.pr-3 Including microvawe, refrigirator and coffee maker
      
      
      
      section.mb-0.mb-sm-5.py-5
        .container
          .row
            .col-12
              h2.d-sm-none Fill out the form and we will answer you shortly
        .container.content-bordered.my-sm-5.py-sm-5
          .bord.box-bg.d-none.d-sm-block
          .bord.border-first.d-none.d-sm-block
          .bord.border-second.d-none.d-sm-block
          .row.pt-3.pt-sm-5.pb-4.justify-content-center
            .col-12.col-sm-10
              h2.pr-5.d-none.d-sm-block Fill out the form and we will answer you shortly
              
              .contact-form.pt-4.pt-sm-0
                .bord.box-bg.d-sm-none
                .bord.border-first.d-sm-none
                .bord.border-second.d-sm-none
                .row
                  .col-12
                    .text-input
                      input(type="text" required)
                      label Name
                      
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="email" required)
                      label Email
                  .col-12.col-sm-6
                    .text-input
                      input(type="number" required)
                      label Phone number
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label Start date of an event
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label How many guests
                
                .row
                  .col-12
                    textarea(placeholder="Please tell us about group or event needs")
                    
                    input.sumbit(type="submit" value="SUBMIT")
      
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")