doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Win
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body.home
    include header
        
    main
      
      section.hero
        .hero-logo(style="background-image: url(media/logo.svg);")
          
          
          
        .hero-gallery
          .hero-item.i-one(style='animation-duration: 20s;')
            img(src='https://a.storyblok.com/f/87746/3000x2000/1f95f71c1d/0u1a3004.jpg')
          
          
          .hero-item.i-two(style='animation-duration: 20s;')
            img(src='https://a.storyblok.com/f/87746/3000x1999/a3c591b570/dji_0405.jpg')
            
          .hero-item.i-three(style='animation-duration: 40s;')
            img(src='https://a.storyblok.com/f/87746/3000x2000/57a7d1dd25/0u1a2958.jpg')
          .hero-item.i-four(style='animation-duration: 10s;')
            img(src='https://a.storyblok.com/f/87746/3000x2000/57a7d1dd25/0u1a2958.jpg')
          
          .hero-item.i-five(style='animation-duration: 10s;')
            img(src='https://a.storyblok.com/f/87746/3000x2000/83c618ad3a/0u1a0688.jpg')
        //.gallery.d-none
          .gallery__container
            .gallery-item-wrapper.w-50.gallery-item-wrapper-1.transform(data-order='1' style='animation-duration: 40s; padding-top: 5vh; padding-left: 2vw; padding-right: 0vw; transform: translate(0px, 790.75012px); opacity: 1;')
              .gallery-item
                div
                  img(src='https://a.storyblok.com/f/87746/3000x2000/1f95f71c1d/0u1a3004.jpg')
                  .image-caption
                    div(class='image-caption__container pt-5 text-center')
                      a(href='/home') 45°50'46.3"S 170°43'50.2"E
            .gallery-item-wrapper.w-third.gallery-item-wrapper-2.transform(data-order='2' style='animation-duration: 45s; padding-top: 0vh; padding-left: 0vw; padding-right: 0vw; transform: translate(0px, 793.33344px); opacity: 1;')
              .gallery-item
                div
                  img(src='https://a.storyblok.com/f/87746/3000x1999/a3c591b570/dji_0405.jpg')
                  .image-caption
                    div(class='image-caption__container pt05 t-center')
                      a(href='/home') 45°52'52.4"S 170°40'51.4"E
            .gallery-item-wrapper.w-third.gallery-item-wrapper-3.transform(data-order='3' style='animation-duration: 35s; padding-top: 0vh; padding-left: 15vw; padding-right: 5vw; transform: translate(0px, 787.42871px); opacity: 1;')
              .gallery-item
                div
                  img(src='https://a.storyblok.com/f/87746/3000x2000/57a7d1dd25/0u1a2958.jpg')
                  .image-caption
                    div(class='image-caption__container pt05 t-center')
                      a(href='/home') 45°59'24.6"S 170°15'43.1"E
            .gallery-item-wrapper.w-50.gallery-item-wrapper-4.transform(data-order='4' style='animation-duration: 30s; padding-top: 15vh; padding-left: 0vw; padding-right: 2vw; transform: translate(0px, 783.00018px); opacity: 1;')
              .gallery-item
                div
                  img(src='https://a.storyblok.com/f/87746/3000x2000/83c618ad3a/0u1a0688.jpg')
                  .image-caption
                    div(class='image-caption__container pt05 t-center')
                      a(href='/home')
            .gallery-item-wrapper.w-50.gallery-item-wrapper-5.transform(data-order='5' style='animation-duration: 35s; padding-top: 15vh; padding-left: 10vw; padding-right: 10vw; transform: translate(0px, 787.42871px); opacity: 1;' data-v-081ab209='')
              .gallery-item
                div
                  video(width='100%' height='auto' autoplay='autoplay' playsinline='' muted='muted' loop='loop' poster='')
                    source(src='https://a.storyblok.com/f/87746/x/deb0731223/0738_web.mp4' type='video/mp4')
      
      
      
      
      section.hello
        .container.pb-5
          .row.pt-5
            .col-12.text-center.pt-5.pr-5
                img(src="media/hello-scene-1.svg" style="width: 30%; margin:auto; margin-right: 3.5vw;")
          .row.pt-4
            .col-6.px-5
              .pr-4.pl-5
                img(src="media/hello-scene-2.svg")
            .col-6.pt-4
              h2 hello stranger
              p Hotel Lumberjack is proudly located at the center of historic Sonora, California. Our hotel is a newly envisaged Americana Motel experience. We’re in the heart of the Gold Country, close to curated boutiques and fantastic dining. You’ll also be able to walk along Dragoon Gulch Trail or take a drive to Yosemite National Park. Or take advantage of abundant outdoor recreational activities, from boating to hiking all nearby. If you’re more in the mood for a relaxing time, visit local wineries and breweries with family and friends. 
              p.small.font-italic Additionally, all of our rooms have been thoughtfully designed with working niches, oversized beds and large walk-in showers with eco-friendly amenities throughout. At Hotel Lumberjack we love living at the intersection of nature and design and we can’t wait to welcome you!
              a.link(href="about.html") more about hotel
              .row
                .col-12.text-right.pr-5
                  img(src="media/hello-scene-3.svg" style="width: 20%; display:inline-block")
      
      
      
      
      
      section
        .container
          .row.pt-5
            .col-12
              hr
              h2.pb-2  Meet our rooms
              .home-rooms-slider
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/room1.jpg")
                    p.bold ADA ROOM
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/room2.jpg")
                    p.bold double queen room
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/room3.jpg")
                    p.bold double queen room
        .py-5
      
      
      
     
      
      section.explore
        .py-5
        .container
          .row.p-5
            .col-6.pb-4.pt-4.pr-5
              img(src="media/explore-scene-1.svg")
            .col-6.pt-5.pr-5
              h2 Explore Historic Sonora and Our Surroundings
              p Whether you are a history buff, a fan of everything outdoors, a gambler, a shopping fiend, or someone that has to do and see it all, Sonora is the perfect place for you. Our local area of downtown Sonora, offers a vibrant local community with arts, shopping, dining, history, and nature, and on top of all that, we are a short drive from Yosemite, one of the most beautiful national parks in the country.
              a.link(href="test") Learn more
        .py-5
        .pb-3
        
        
         
         
         
         
              
     
     
      

      section.main-quote
        .container.pt-5
          .row.justify-content-center.pt-5
            .col-9
              .slider-quote
                .item
                  h2 There are several downtown hotels such as the Sonora Inn and Gunn House, from which guests can easily walk to restaurants and shops.
                .item
                  h2 Whether you are a history buff, a fan of everything outdoors, a gambling man (or woman!), a shopping fiend, or someone 
              .py-1
              hr
              .py-2
              .slider-quote-footer
                .item
                  img(src="media/Los_Angeles_Times_logo.svg" style="width: 36%;")
                  p.text-uppercase.pt-2.small.lite-bold – los angeles times, april 12, 2018
                .item
                  img(src="media/Los_Angeles_Times_logo.svg" style="width: 36%;")
                  p.text-uppercase.pt-2.small.lite-bold – another slide text description

        .py-5
        .py-4
       
        
        
      include footer
          
          
      script(type='text/javascript').
        (function () {
        var params = {"propertyId":"754508"};
        var paramsArr = [];
        var pl2 = document.createElement("script");
        for(key in params) { paramsArr.push(key + "=" +
        encodeURIComponent(params[key])) };
        pl2.type = "text/javascript";
        pl2.async = true;
        pl2.src = "https://www.ada-tray.com/adawidget/?" +
        btoa(paramsArr.join("&"));
        (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]).appendChild(pl2);
        })();
     
             
  
  



  
  
  
    
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")