doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Terms
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      
      
      
      section.my-5.py-5
        .container.content-bordered.my-5.py-5
          .box-bg
          .border-first
          .border-second
          .row.pt-5.pb-4.justify-content-center
            .col-10
              p.font-italic Effective date: September 1, 2021
              h2.pr-5 Hotel lumberjack privacy policy
              p The Sonora Motel LLC Dba Hotel Lumberjack ("us", "we", or "our") operates the www.hotellumberjack.com website. This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from www.hotellumberjack.com.
              
      
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")