doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
    
      
      section.pt-3.pt-sm-5.mb-5.mb-sm-0
        .container.pb-5.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero.py-3.py-sm-4.px-3
                p.text-uppercase.mb-2.lite-bold starting from $19/Night
                h2.mb-2 Double queen room
                p.pb-3 Our Historic Double Bedrooms are perfect for the solo traveler. Featuring one double bed, the Single Double Bed guest room is perfect for your next business meeting or solo-adventure to the Yosemite, CA region.
                
                hr.d-none.d-sm-block.mb-2
                
                p.text-uppercase.mb-2.d-none.d-sm-block Amenities 
                .amenities-button.d-sm-none
                  span + Show 
                  span - Hide 
                  |  Amenities
                ul
                  li • One Double Bed
                  li • Alarm Clock
                  li • Refrigirator
                  li • Smoke Free
                  li • Cofee Maker
                  li • Microwace
                  li • Hair dryer
                a.book-button(href="products.html/#ada-room") book this room
                    
                
                
              

                    
                    
                    
      
      
      
      
      
       
        
        
      include footer
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")